.stat-card {
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid lightgray
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 123, 255, 0.2);
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-icon {
  font-size: 28px;
}

.stat-value {
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.stat-change {
  font-size: 0.9rem;
  font-weight: 500;
}

.stat-change.positive {
  color: #28a745; /* green */
}

.stat-change.negative {
  color: #dc3545; /* red */
}

.status-badge {
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}

.status-badge.active {
  background-color: #28a745; /* green */
}

.status-badge.on-leave {
  background-color: #fd7e14; /* orange */
}

.status-badge.inactive {
  background-color: #6c757d; /* gray */
}

table tr:hover {
  background-color: rgba(0, 123, 255, 0.05);
}

button.mat-icon-button {
  margin-right: 0.25rem;
}

.avatar-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #0d6efd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.avatar-name{
    gap: 10px;
}

.nowrap{
    white-space: nowrap;
}

.activity-card{
    overflow: scroll; 
    max-height: 345px;
}
