<mat-sidenav-container class="h-100">
  <!-- Sidebar -->
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" (backdropClick)="sidenav.close()"
    class="bg-white shadow-sm custom-sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
    <app-header [sidenav]="sidenav"></app-header>

    <main class="p-3 bg-light flex-grow-1">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>